{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "airbnb-typescript/base",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": [
    "import",
    "@typescript-eslint",
    "prettier"
  ],
  "rules": {
    "no-plusplus": "off",
    "no-console": "warn",
    "max-len": ["warn", { "code": 120 }],
    "class-methods-use-this": ["off"],
    "indent": ["warn", 2, {
      "SwitchCase": 1
    }],
    "@typescript-eslint/lines-between-class-members": [
      "error", 
      "always", 
      { "exceptAfterSingleLine": true }
    ],
    "@typescript-eslint/indent": ["warn", 2, {
      "SwitchCase": 1
    }],
    "@typescript-eslint/no-unused-expressions": ["off"],
    "import/prefer-default-export": "off",
    "no-param-reassign": ["error", {
      "props": false
    }]
  }
}
