@use "assets/styles/variables" as *;
@import '~normalize.css/normalize.css';
@import '~@materializecss/materialize/dist/css/materialize.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import "assets/styles/main-page.scss";
@import "assets/styles/main-page-media-queries.scss";
body {
  font-family: $main-font;
  background-color: $bg-color;
  color: $font-color;
  font-size: 1.2rem;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}