.game-panel,
.textbook-levels {
  border-radius: 15px;
  position: fixed;
  top: 86px;
}

.textbook-levels {
  right: calc(12vw + 10px);
}

.textbook-levels {
  width: 70px;
  right: calc(12vw + 10px);
}

.game-panel,
.textbook-levels {
  .collection-item {
    padding: 15px;
  }

  .btn {
    height: 40px;
    width: 40px;
    padding: 0;
    line-height: 40px;
    border-radius: 100%;

    &:hover {
      opacity: 0.8;
      box-shadow: 0 0 6px $bg-color;
    }
  }
}

.game-panel {
  width: 70px;
  left: calc(12vw + 10px);
  background-color: $font-color;

  .btn {
    height: 45px;
    width: 45px;
    margin: 11px;

    .material-icons {
      font-size: 1.7rem;
    }
  }
}

.level-active {
  transform: scale(1.2);
}

@media (max-width: 1023px) {
  .game-panel {
    left: 5vw;
  }

  .textbook-levels {
    right: 5vw;
  }
}

@media (max-width: 767px) {

  .game-panel,
  .textbook-levels {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    width: fit-content;
    position: static;
  }
}

@media (max-width: 640px) {

  .game-panel .collection-item,
  .textbook-levels .collection-item {
    padding: 7px;

    .btn {
      width: 26px;
      height: 26px;
      line-height: 26px;
      font-size: 12px;
    }
  }

  // .collection img {
  //   margin-top: 8px;
  //   left: 17px;
  // }
}