body {
  background-color: $bg-color;
  font-family: $main-font;
}

main {
  position: relative;
  padding-top: 20px;
}

.col.card-wrapper {
  margin: 0 auto;
  padding: 0;
  border-radius: 10px;
}

.card {
  margin: 0;

  &,
  &-image img {
    height: 300px;
  }

  &-image img {
    object-fit: cover;
  }

  &-title {
    width: 400px;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    );
  }

  &-content {
    flex-direction: column;
    max-height: 340px;
    padding: 20px 20px 20px 0;

    > :first-child > :first-child {
      margin: 0;
    }
  }

  &-action {
    margin-top: auto;

    .btn {
      padding: 0 10px;
    }
  }
}

.col.image-wrapper {
  padding: 20px;
}

.transcription {
  font-size: 18px;
  padding-left: 13px;
}

.content {
  &-translation,
  &-phrase {
    margin: 5px 0;
  }

  &-example {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  }
}

.textbook-levels {
  width: 70px;
  border-radius: 15px;
  position: fixed;
  right: calc(12vw + 10px);

  .collection-item {
    padding: 15px;
  }

  .btn {
    height: 40px;
    width: 40px;
    padding: 0;
    line-height: 40px;
    border-radius: 100%;
    &:hover {
      opacity: 0.8;
      box-shadow: 0 0 6px $bg-color;
    }
  }
}

.level-active {
  transform:scale(1.2);
}

.pagination {
  margin: 30px auto;
  width: fit-content;

  li a {
    color: $font-color;
  }

  li.active a {
    background-color: $font-color;
    color: $bg-color;
  }
}

@media (min-width: 1024px) {
  .card {
    &,
    &-image img {
      max-width: 400px;
      width: calc(30vw - 90px);
    }
  }

  .pagination li a {
    font-size: 22px;
  }
}

@media (max-width: 1023px) {
  .card {

    &-wrapper {
      flex-direction: column;
    }

    &-content {
      padding: 0 20px 20px 20px;
    }

    &-title {
      width: 700px;
    }

    &-action {
      padding-top: 10px;
    }
  }

  .textbook-levels {
    right: 5vw;
  }
}

@media (max-width: 767px) {
  .col.image-wrapper {
    padding: 15px;
  }

  .card {
    &,
    &-image img {
      height: 250px;
    }

    &-content {
      padding: 0 15px 15px 15px;
    }

    &-action .btn {
      padding: 0 7px;
      height: 31px;
      font-size: 12px;
      line-height: 31px;
    }
  }

  .word,
  .translation {
    font-size: 18px;
  }

  .transcription {
    font-size: 17px;
  }

  .textbook-levels {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    width: fit-content;
    position: static;
  }

  .pagination {
    margin: auto;

    li a {
      padding: 0 6px;
    }

    .arrow-right,
    .arrow-left {
      padding: 0;
    }
  }
}

@media (max-width: 640px) {
  .textbook-levels .collection-item {
    padding: 7px;

    .btn {
      width: 26px;
      height: 26px;
      line-height: 26px;
      font-size: 12px;
    }
  }
}