#textbook {
  position: relative;
  padding-top: 20px;
  background-color: $bg-color;
  font-family: $main-font;
}

.col.card-wrapper {
  margin: 0 auto;
  padding: 0;
  border-radius: 10px;
  transition: all .35s;
}

.card {
  margin: 0;

  &,
  &-image img {
    height: 300px;
  }

  &-image img {
    object-fit: cover;
  }

  &-title {
    width: 400px;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    );

    .translation {
      font-size: 20px;
    }
  }

  &-content {
    flex-direction: column;
    max-height: 340px;
    padding: 20px 20px 20px 0;
    font-size: 15px;

    > :first-child > :first-child {
      margin: 0;
    }
  }

  &-action {
    margin-top: auto;

    .btn {
      padding: 0 10px;
    }
  }
}

.col.image-wrapper {
  padding: 20px;
}

.transcription {
  font-size: 18px;
  padding-left: 13px;
}

.content {
  &-translation,
  &-phrase {
    margin: 5px 0;
    color: $bg-color;
  }

  &-example {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  }
}

.easy {
  transform: scale(0.95);
  opacity: 0.9;
  box-shadow: 0 0 20px $accent-green-color;
}

.hard {
  transform: scale(1.03);
  box-shadow: 0 0 25px $accent-red-color;
  border: 2px solid $accent-red-color;
}

@media (min-width: 1090px) {
  .card {
    &,
    &-image img {
      max-width: 400px;
      width: calc(30vw - 90px);
    }
  }
}

@media (max-width: 1089px) {
  .card {

    &-wrapper {
      flex-direction: column;
    }

    &-content {
      padding: 0 20px 20px 20px;
    }

    &-title {
      width: 700px;
    }

    &-action {
      padding-top: 10px;
    }
  }
}

@media (max-width: 767px) {
  .col.image-wrapper {
    padding: 15px;
  }

  .card {
    &,
    &-image img {
      height: 250px;
    }

    &-content {
      padding: 0 15px 15px 15px;
      font-size: 13px;
    }

    &-action .btn {
      padding: 0 7px;
      height: 31px;
      font-size: 12px;
      line-height: 31px;
    }

    .word,
    .transcription,
    .translation {
      font-size: 16px;
    }
  }
}