$main-font:'Noto Sans',
sans-serif;
$bg-color: #000000;
$font-color: #ffffff;
$accent-blue-color: #00acc1;
$accent-yellow-color:#ffeb3b;
$accent-pink-color:#f48fb1;
$accent-red-color: #e53935;
$accent-green-color: #ccff90;
$accent-dark-color: #283593;