@use 'variables' as *;
@use 'mixins' as *;

.audiocall {
  .collection {
    background-color: $font-color;
    border-radius: 20px;

    .collection-item {
      border-right: 1px solid #e0e0e0;
      border-bottom: none;
      padding: 20px 23px;

      @include resolution(big-mobile) {
        padding: 10px 12px;
      }
    }

    .btn {
      padding: 0;
      border-radius: 100%;
      &:hover {
        opacity: 0.8;
        box-shadow: 0 0 6px $bg-color;
      }

      @include resolution(big-mobile) {
        width: 35px;
        height: 35px;
        font-size: 12px;
        line-height: 25px;
      }
    }
  }

  @include flex-column;
  justify-content: center;

  &__wrapper {
    @include flex-column;
    align-items: center;
    justify-content: space-around;
    gap: 5vh;
    overflow-y: hidden;
    @include resolution(desktop) {
      gap: 3vh;
    }
  }

  &__start-header {
    font-size: 2 rem;
    @include resolution(big-mobile) {
      font-size: 1.2rem;
    }

    @include resolution(mobile-horizontal) {
      font-size: 1rem;
    }
  }

  &__levels {
    display: flex;
    justify-content: center;

    @include resolution(mobile-horizontal) {
      flex-direction: column;
    }
  }

  &__level {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    color: $bg-color;
    font-family: $main-font;

    @include resolution(mobile) {
      width: 30px;
      height: 30px;
    }
  }

  .audiocall__level.active {
    border: 5px solid $font-color;
    @include resolution(big-mobile) {
      border: 3px solid $font-color;
    }
  }

  &__start-btn {
    text-align: center;
    padding: 0 20px;
  }

  &__continue-btn {
    text-align: center;
    display: none;

    @include resolution(desktop) {
      transform: scale(0.9);
    }
  }

  &__play-btn {
    color: $font-color;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  &__play-btn:focus {
    background-color: lighten($color: $bg-color, $amount: 1);
  }

  &__words {
    display: flex;
    align-items: center;
    gap: 10px;

    @include resolution(desktop) {
      flex-direction: column;
    }
  }

  &__word {
    display: flex;
    justify-content: center;
    gap: 10px;
    min-width: 110px;

    @include resolution(desktop) {
      transform: scale(0.9);
    }
  }

  &__word-list {
    width: 60%;
  }

  &__results {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    width: 70%;

    @include resolution(desktop) {
      width: 80%;
    }

    @include resolution(big-mobile) {
      width: 100%;
    }

    @include resolution(mobile-horizontal) {
      align-items: start;
    }
  }

  &__word-image {
    height: 300px;
    display: none;
    @include resolution(desktop) {
      height: 200px;
    }
  }
}

.audiocall__results::-webkit-scrollbar {
  width: 8px;
}

.audiocall__results::-webkit-scrollbar-track {
  background: $bg-color;
}

.audiocall__results::-webkit-scrollbar-thumb {
  background-color: $accent-blue-color;
  border-radius: 5px;
}

.play-btn__icon {
  border-radius: 50%;
  padding: 10px;
  border: 5px solid $font-color;
  color: $font-color;
  font-size: 3rem;

  @include resolution(desktop) {
    font-size: 2.3rem;
  }
}

.word-counter {
  margin-left: 5px;
}

.wrong-counter {
  color: #f44336;
}

.correct-counter {
  color: #4caf50;
}

.word-item {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}

.audiocall__play-word {
  display: none;
  margin-top: 10px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-weight: 600;
}

.audiocall__play-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  &-blue {
    color: $accent-blue-color;
  }

  &-green {
    color: $accent-green-color;
  }
}