@use "variables" as *;
.nav {
  background-color: $bg-color;
  color: $font-color;
  .nav-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .nav-list {
    display: flex;
    justify-content: space-around;
  }
}

nav ul a {
  color: $font-color;
}

nav ul li.active {
  background-color: rgba($color: $accent-blue-color, $alpha: 0.5);
}

.info__main-image {
  width: 90%;
  height: auto;
}

.main__info {
  display: flex;
  padding: 50px 0;
  .info__left,
  .info__right {
    width: 50%;
  }
}

.info__left {
  padding-top: 10%;
  .info__text {
    width: auto;
    max-width: 16rem;
  }
  .info__logo {
    width: 70%;
    height: auto;
  }
}

.authorization {
  display: flex;
  gap: 15px;
  list-style: none;
  .authorization__icon {
    width: 60px;
  }
}

.main__about,
.main__team {
  @include flex-column;
  gap: 5%;
  text-align: center;
}

.about__cards {
  display: flex;
  padding: 1.5rem 0;
  gap: 5%;
  .about__card {
    width: 50%;
    text-align: center;
    .about__icon {
      font-size: 60px;
      color: black;
    }
  }
}

.team__cards {
  @include flex-column;
  gap: 5rem;
  align-items: center;
  padding: 5rem 0;
}

.team__card {
  @include flex-column;
  padding: 5%;
  text-align: center;
  gap: 1.5rem;
  width: 60%;
  .team__name {
    color: $font-color;
  }
}

.card-yellow {
  @include card($accent-yellow-color);
}

.card-blue {
  @include card($accent-blue-color);
}

.card-pink {
  @include card($accent-pink-color);
}

.team__tasks {
  display: flex;
  justify-content: space-around;
  .team__task {
    display: block;
    padding: 2%;
  }
}

.footer__info {
  display: flex;
  align-items: center;
  height: 50px;
  justify-content: center;
  gap: 5%
}

.footer__github {
  height: 25px;
  width: 25px;
  transition: 0.3s;
  @include bg-svg-white('./assets/icons/git.svg');
}

.footer__rs {
  height: 25px;
  width: 60px;
  @include bg-svg-white('./assets/icons/rs_school_js.svg');
  transition: 0.3s;
}

.footer__rs:hover,
.footer__github:hover {
  filter: invert(96%) sepia(1%) saturate(4882%) hue-rotate(276deg) brightness(106%) contrast(86%);
}